<!-- your html code here -->
<h2>Contact</h2>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus acc cursus commodo.</p>

<div class="container" style="width: 600px; height: 250px; margin: 0 auto; 
background-color: rgb(207, 207, 207);"  >
<br>
<div class="row">
    <div class="col-4" margin="1">
        <p>Your E-mail</p> 
    </div>
       
    <div class="col-8" >
        <input style="width: 95%;" type="email" class="form-control" id="exampleFormControlInput1" placeholder="Your email" size="80">
    </div>    
</div>
<br>
<div class="row">
    <div class="col-4">
        <p>Your menssage</p> 
    </div>
       
    <div class="col-8" >
        <textarea style="width: 95% ;" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your menssage here..."></textarea>
    </div>    
</div>
<br>
<div class="row">
    <div class="col-9 justify-content-md-end">
        
    </div>
    <div class="col-3 justify-content-md-end">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

