<!-- your html code here -->
<div class="container bg-light">
    <div class="row">
        <div class="col">
            <h1>Porfolio</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Donec diam dui, pulvinar a ligula vitae, blandit efficitur ante. Nulla est magna, sollicitudin sed pretium
                vel, pellentesque vitae lacus. Aliquam fermentum nisl sed mi bibendum efficitur non sed nulla.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card border-0 bg-transparent">
                <img src="https://placehold.it/700x400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis lectus ut egestas pretium. Maecenas vehicula dignissim erat at hendrerit. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 bg-transparent">
                <img src="https://placehold.it/700x400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis lectus ut egestas pretium. Maecenas vehicula dignissim erat at hendrerit. </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0 bg-transparent">
                <img src="https://placehold.it/700x400" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="card-text fs-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mattis lectus ut egestas pretium. Maecenas vehicula dignissim erat at hendrerit. </p>
                </div>
            </div>
        </div>
        
    </div>

</div>