<!-- your html code here -->

<div class="container d-flex flex-wrap align-content-center justify-content-center">

    <div class="row d-flex flex-wrap align-content-center">
        <div class="col-4">
            <img src="/workspace/html-hello/exercise-collaborative-html-website/website1/assets/img/2.jpg"
                class="rounded-circle" alt="Cinque Terre" width="auto">
        </div>
        <div class="col-7">

            <div class="d-flex flex-wrap align-content-start">
                <h2>The second heading <span class="text-secondary">is prety cool too</span> </h2>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industrys standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                but also the leap into electronic typesetting, remaining essentially unchanged.</p>

        </div>
    </div>
</div>